// @import 'breakpoints';
// @use 'breakpoints' as bp;
$sm: 450px;   //small
$md: 600px;   //medium
$lg: 1060px;  //large

$sm-dn: "(max-width: #{$sm - 1})";
$md-dn: "(max-width: #{$md - 1})";
$lg-dn: "(max-width: #{$lg - 1})";

@mixin mobile {
  @media screen and #{$sm-dn} { @content; }
}

@mixin tablet {
  @media screen and #{$md-dn} { @content; }
}

@mixin desktop {
  @media screen and #{$lg-dn} { @content; }
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  width: 100%;
}

div {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  &:last-of-type { padding-top: 0; }
  &#copy {
    overflow:hidden;
    height:0;
    transition: all .5s ease;
    padding: 0;
    &.active {
      height:auto;
      padding: 30px;
      background: #deeaff;
      box-sizing: border-box;
      @include desktop {
        margin: 0 30px 0 30px;
      }
    }
  }
  &.ctrl {
    text-align: center;
    margin: 0 auto 60px auto;
    padding: 0;
    background: #deeaff;
    @include desktop {
      margin: 0 30px 60px 30px;
    }
    a {

      height: 35px;
      width: 100%;
      display: block;
      color: #817aff;
      font-size: 30px;
      line-height: 1em;
      font-weight: 200;
      font-family: 'helvetica neue', helvetica;
      text-decoration: none;
      border: 1px solid #817aff;
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
  }
}

svg {
  display: block;
  overflow: visible;
}

p {
  color: #817aff;
  font-weight: 500;
  line-height: 1em;
  font-size: 2rem;
  @include tablet { font-size: 1.5rem; }
  @include mobile { font-size: 1rem; }
  margin-bottom: 10px;
  font-style: italic;
  font-family: BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
  &:last-of-type { margin:0; }
  b { font-weight: bolder; }
}