$sm: 320px;   //small
$md: 668px;   //medium
$lg: 1060px;  //large
$xl: 1366px;  //extra-large

// Min width goes form "width" which is defined that way ------->
// If you are resizing the right corner
$sm-up: "(min-width: #{$sm})";
$md-up: "(min-width: #{$md})";
$lg-up: "(min-width: #{$lg})";
$xl-up: "(min-width: #{$xl})";

// Max width goes form "width" which is defined this way <-------
// If you are resizing the right corner
$sm-dn: "(max-width: #{$sm - 1})";
$md-dn: "(max-width: #{$md - 1})";
$lg-dn: "(max-width: #{$lg - 1})";
// $xl-dn: "(max-width: #{$xl - 1})";

// Ranges ------->   <-------
$sm-to-md: "#{$sm-up} and #{$md-dn}";
$md-to-lg: "#{$md-up} and #{$lg-dn}";


// use
// in your main.scss
// `import "breakpoints";`
// then in your main.scss
//`@media #{$xs-up} { ... }`

@mixin mobile {
  @media screen and #{$sm-dn} { @content; }
}

@mixin tablet {
  @media screen and #{$md-dn} { @content; }
}

@mixin desktop {
  @media screen and #{$lg-dn} { @content; }
}