* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.svg {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  .responsive { position: absolute; }
}
